body {
  background-color: #000000;
  font-family: "Gill Sans Nova",
    Arial, sans-serif;
}

Media query syntax in CSS: @media only screen and (min-width: 600px) {
  /* Styles for smallest screens go here */

ul {
        margin: 3px auto 3px auto;
        text-align: center;
  }
}

body {
  text-align: center;
}

img.aligned-img {
  width: 40%;
  height: 40%;
  margin: 5px;
  text-align: left;
}

ul {
  width: 450px;
  padding: 50px;
}

ul.aligned-ul {
  margin: 2px;
  text-align: center;
}

a:link {
  color: #f8c62e;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: #f8c62e;
  text-decoration: none;
}

a:active {
  color: #f8c62e;
}

li {
  display: inline-block;
  padding: 10px;
  font-family: "Gill Sans Nova",
    Arial, sans-serif;
  font-variant: small-caps;
  font-weight: 100;
  color: #f8c62e;
}
