body {
  background-color: #000000;
  font-family: "Gill Sans Nova",
    Arial, sans-serif;
}

.center {
  align-self: auto;
  margin: auto;
}

a:link{
  color: #f8c62e;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: #f8c62e;
  text-decoration: none;
}

a:active {
  color: #f8c62e;
}

li {
  display: inline-block;
  padding: 10px;
  font-family: "Gill Sans Nova",
    Arial, sans-serif;
  font-variant: small-caps;
  font-weight: 100;
  color: #f8c62e;
}
